:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Custom color palette */
  --color-main-bg: #321B2D;
  --color-text: #321B2D;
  --color-card-bg: #FFFFFF;
  --color-light-bg: #FFF0EB;

  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-main-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-main-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-text);
}

a {
  font-weight: 500;
  color: #321B2D;
  text-decoration: inherit;
}
a:hover {
  color: #FFF0EB;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-card-bg);
  color: var(--color-text);
  cursor: pointer;
  transition: border-color 0.25s, background 0.25s;
}
button:hover {
  border-color: #321B2D;
  background: var(--color-light-bg);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text);
    background-color: var(--color-main-bg);
  }
  a:hover {
    color: #FFF0EB;
  }
  button {
    background-color: var(--color-card-bg);
  }
}
